.login-form {
    display: grid;
    grid-auto-flow: row;
}


.input-label {
    display: inline-block;
    width: 200px;
    margin-left: 20px;
    text-align: center;
}

.input-field {
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.login-btn {
    margin: auto;
    font-size: large;
}