.page-content {
    padding-top: 140px;
    background-color: var(--content-bg);
    color: var(--content-color);
    margin-bottom: 20px;
}

.page-title {
    text-align: center;
    font-style: italic;
}